<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MVC Exemplo Node.JS</title>
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br/><br/><br/>
      <h2>Bancos Brasileiros</h2>
      <br/>
      <% if (banks.length > 0) { %>
        <table class="table table-bordered border-primary">
          <thead>
            <tr>
              <th>COMPE</th>
              <th>ShortName</th>
              <th>Document</th>
              <th>Type</th>
              <th>Url</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < banks.length; i++) {%>
              <tr>
                <td><%= banks[i].COMPE %></td>
                <td><%= banks[i].ShortName %></td>
                <td><%= banks[i].Document %></td>
                <td><%= banks[i].Type %></td>
                <td><%= banks[i].Url %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>      
    </div>
  </body>
</html>
